// 颜色
$mainColor: #1c7e7c;
$mainBackgroundColor: #EFF3F4;
$primaryColor:#409EFF;
$successColor:#67C23A;
$warningColor:#E6A23C;
$dangerColor:#F56C6C;
$infoColor:#909399;


// 文字大小
$font_extra_large:20px;
$font_large:18px;
$font_medium:16px;
$font_base:14px;
$font_small:13px;
$font_extra_small:12px;